body {
  text-align: center;
}

.blurb {
  font-size: 30px;
}
.github-button {
  background-color: #161b22;
  color: white;
  height: 36px;
  width: 108px;
  cursor: pointer;
  border-style: none;
  border-radius: 4px;
  font-weight: bold;
  border-radius: 18px;
  margin: 8px;
  transition: opacity .3s;
}

.github-button:hover {
  opacity: 0.7;
}

.github-button:active {
  opacity: 0.5;
}

.linkedin-button {
  background-color: rgb(10,102,194);
  color: white;
  font-weight: bold;
  height: 36px;
  border-style: none;
  border-radius: 18px;
  width: 108px;
  cursor: pointer;
  margin: 8px;
  transition: background-color .3s;
}

.linkedin-button:hover {
  background-color: rgb(0, 77, 153);
}

.linkedin-button:active {
  opacity: 0.5;
}

.social {
  text-align: center;
}

.contact-icons {
  margin: 10px;
  vertical-align: middle;
}

a {
  color: white;
}