.header {
  color: rgb(250, 213, 255);
  position: fixed;
  font-family: Roboto, Arial;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom-color: lightpink;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.left-section {
  display: flex;
  color: pink;
}

.name {
  font-size: 38px;
  font-weight: 500;
}

.right-section {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.about {
  cursor:pointer;
}

.about:hover {
  text-decoration: underline;
}

.resume {
  color: pink;
}